.products-section{
    display: flex;
    justify-content: center;
}
.product__wrapper{
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    padding: 20px;
    flex-shrink: 0;
    flex-grow: 0;
}

.product{
    max-width:  200px;
}