.partners-bar{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.logo__wrapper{
    max-height: 80px;
    flex-basis: 20%;
    display: flex;
    justify-content: center;
    
}

.logo__wrapper > img{
    height: auto;
    width: 100px;
    object-fit: contain;
}