.basket{
    font-size:  40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    position: relative;
}
.total{
    font-size: 16px;
    padding: 8px;
    display: flex;
}

@media(orientation: portrait){
    .basket{
        display: none;
    
    }
}