.header__wrapper{
  min-height: 13vh;
  position: relative;
}

.header{
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: white;
  width: 100%;
  
}
.logo{
    font-family: 'Odibee Sans', cursive;
    font-size: 2rem;
    flex-basis: 30%;
    align-items: center;
    justify-content: center;
    display: flex;
}
.login-section{
    display: flex;
}
.main-nav__wrapper{
    display: flex;
    justify-content: space-between;
    /* background-color: #313131; */
    align-items: center;
    border-bottom:1px solid #313131;
}
.nav-wrapper{
  flex-grow: 1;
}
.nav {
  display: flex;
  /* width: 100%; */
}
div.main.nav {
  /* justify-content: left; */
  
  /* color: white; */
  font-weight: 600;
}
div.main.nav.item{
    margin: 0;
}
div.nav.filter {
  /* background-image: radial-gradient(
    circle,
    rgb(252, 62, 62),
    rgb(255, 180, 180)
  ); */
  font-weight: bold;
  /* color: #ffe4e4; */
 
}

.nav.item {
  padding: 20px 20px;
  
}
.input-wrapper{
  width: 33%;
  padding: 10px;
}
.input-wrapper input{
  height: 24px;
  width: 100%;
}

.hamburger{
  display: none;
}

@media (orientation: portrait) {

  .hamburger{
    display: block;
    position: absolute;
    top: 50%;
    right: 3%;
    z-index: 11;
  }
  .hamburger-links{
    width: 40px;
    height: 5px;
    background-color: royalblue;
    z-index: 5;
    margin: 5px;
    border-radius: 5px;
  }

  .nav.item{
    padding: 20px 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #4c4c4c;
  }
 .nav-wrapper{
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: #3e3e3e;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  z-index: 10;
   
 }

 .nav.filter{
   flex-direction: column;
   display: flex;
   align-items: center;
   justify-content: center;
   flex-grow: 1;
   color: white;
   
 
 }

 .flex.space-btw{
  align-items: space-between;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  
 }

 .main-nav__wrapper{
  display: none;
}



.header{
  flex-direction: column;
}
.logo{
  justify-content: flex-start;
}

.login-section {
  background-color: #3e3e3e;
  color:white;
  padding: 4px;
  font-weight: 600;
  font-size: 13px;
}

.login-section.item{
  margin-right: 10px;
}

.logo{
  font-family: 'Odibee Sans', cursive;
  font-size: 2rem;
  flex-basis: 20%;
  align-items: center;
  justify-content: left;
  display: flex;
}
.logo img{
  height: auto;
}

}

